---
interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
const id = url.split("/").at(-2);

const imgUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a href=`/pokemons/${name}`
  class="border border-gray-300/40 rounded-lg flex items-center flex-col p-4 hover:scale-110 transition-transform duration-300 ease-in-out"
>
  <img src={imgUrl} alt={name} class="size-40 object-cover" />
  <p class="capitalize">{name}</p>
</a>
